body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Arial' , sans-serif;
    background: black;
    color: #fff;
}

.hero-image {
    background-image: url("road_forest.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
}
nav .mainMenu li a:hover {
    background: #3AB6B2;
}
nav .openMenu {
    font-size: 1rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size:  1rem;
    display: none;
    cursor: pointer;
}
.fa-mail:hover {color: rgb(0, 110, 255);}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-instagram:hover {color: rgb(0, 110, 255);}
.fa-be:hover {color: rgb(0, 110, 255);}
.fa-deviantart:hover {color: rgb(0, 110, 255);}
.fa-flickr:hover {color: rgb(0, 110, 255);}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

.hero-button {
    background-color: #3AB6B2;
    color: white;
    padding: 11px 30px 12px;
    border: 1px solid #ffffff;
    outline: 3px solid #3AB6B2;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    margin-top: 40px;
}

.portfolio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio picture {
    height: 300px;
    overflow: hidden;
}

.portfolio .big {
    grid-column: span 2;
}

.main-img {
    width: 100%;
}

.portfolio-section {
    background-color: white;
    padding-top: 40px;
}

.section-heading {
    color: black;
    text-align: center;
}